[Unit]
 Description=AutoSSH tunnel service for Lightup dataplane access
 ConditionPathExists=/opt/lightup/lightup-dataplane-connect-service.sh

[Service]
 Type=forking
 ExecStart=/opt/lightup/lightup-dataplane-connect-service.sh start
 TimeoutSec=0
 StandardOutput=tty
 RemainAfterExit=yes
 SysVStartPriority=99

[Install]
 WantedBy=multi-user.target
